body
{
    color: #fff;
    background-color: #461616;
    font-family: "DM Sans", sans-serif;
}
h1,h2,h3,h4,h5, .nav-link, .navbar-brand
{
    font-family: "Sansita", sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    font-style: italic;
    margin: 10px;
}
h4
{
    font-size: 1.2em;
}
h5
{
    font-size: 1em;
    font-weight: 600;
}
.nav .nav-link,
.navbar-brand, 
.navbar-brand:hover
{
    color: #fff;
    text-align: center;
    margin-top: 10px;
}
.navbar-toggler
{
    background-color:#757373
}
nav .nav-link:hover
{
    background-color: #7d7979;
}

.navbar, section, footer
{
    
    background-color: #2d2d2d;
}
section
{ 
    height: 120vh;
    margin: 20px 0;
    padding-top: 40px;
}
#wiki
{
height: 160vh;
}
#equipe
{
    height: 120vh;
}
.nav .nav-link.active
{
    background-color: #461616;
    color: #fff;
}
p{
    font-family: "DM Sans", sans-serif;
    font-size: 1em;
}
#wiki .card
{
    border:2px solid #6b6b6b;
    background-color: transparent;
    border-radius: 15%;
    color: #fff;
    width: 150px;
    text-align: center;
    margin: 10px;
    padding: 2px;
}
#equipe .container 
{
    border-top: 2px solid white;
    padding: 20px;
}
#equipe .card
{
    border:2px solid #6b6b6b;
    background-color: transparent;
    border-radius: 15%;
    color: #fff;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
#equipe .card-body img
{
    border-radius: 15%;
}
#wiki  a
{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    font-family: "DM Sans", sans-serif;
    font-size: 0.85em;

}
#wiki a :hover
{
    background-color: #565555;
    border: none;
    border-radius: 15%;
}

 #equipe .card a
 {
    background-color: #2d2d2d;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 5px 10px;
    font-weight: 800;
    border: 2px solid #fff;
    border-radius:15px 15px 40px 15px;
 }
 #equipe .card a:hover
 {
    border: none;
    color: #2d2d2d;
    background-color: #fff;
 }
footer
{
    justify-content: space-between;
    text-align: center;
}
footer p 
{
    font-size: 1em;
    padding: 10px;
    font-weight: 800;

}