body
{
    color: #fff;
    background-color: #461616;
    font-family: "DM Sans", sans-serif;
}
h1,h2,h3, .nav-link
{
    font-family: "Sansita", sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    font-style: italic;
    margin: 10px;
}

.nav .nav-link,
.navbar-brand, 
.navbar-brand:hover
{
    color: #fff;
    text-align: center;
    margin-top: 10px;
}
.navbar-toggler
{
    background-color:#757373
}
nav .nav-link:hover
{
    background-color: #7d7979;
}

.navbar, section
{
    
    background-color: #2d2d2d;
}
section
{ 
    height: 100vh;
    margin: 20px 0;
    padding-top: 120px;
}
.nav .nav-link.active
{
    background-color: #461616;
    color: #fff;
}